/build/
/.gradle/
/.idea/
/backend/build/
/iac/.terraform/
/iac/.provision.sh.swp
/iac/.terraform.lock.hcl
/iac/.terraform.tfstate.lock.info
/iac/.terraform.tfstate.lock.info
/iac/terraform.tfstate
/iac/terraform.tfstate.backup
/iac/.env
/iac/.kubeconfig
/iac/.id_rsa
