name: Master

on:
  push:
    branches:
      - "master"
    paths-ignore:
      - "LICENSE"
      - "*.md"

jobs:
  run:
    name: Demo Pipeline jobs
    runs-on: ubuntu-latest
    steps:
    - name: Set up Project Files
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set up Snyk client
      uses: snyk/actions/setup@master

    - name: Set up Terraform client
      run: wget https://releases.hashicorp.com/terraform/1.0.8/terraform_1.0.8_linux_amd64.zip; unzip terraform_1.0.8_linux_amd64.zip; mv terraform ./iac; chmod +x ./iac/terraform; rm terraform_1.0.8_linux_amd64.zip;

    - name: Set up Kubernetes client
      run: curl -LO "https://dl.k8s.io/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl.sha256"; mv kubectl.sha256 ./iac/kubectl; chmod +x ./iac/kubectl;

    - name: Set up Compile, Build and Test environment
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Compile, Build and Test
      run: ./build.sh

    - name: Code Analysis - White-box testing
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
        SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_URL: ${{ secrets.SONAR_URL }}
      run: ./codeAnalysis.sh

    - name: Code Analysis - Quality Gate Checking
      uses: jkumar19/sonar-build-breaker@v1.0.0
      with:
        sonar_branch: master
        project_key: ${{ secrets.SONAR_PROJECT_KEY }}
        sonar_token: ${{ secrets.SONAR_TOKEN }}
        sonar_url: ${{ secrets.SONAR_URL }}

    - name: Libraries Analysis - White-box testing
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: ./librariesAnalysis.sh
      
    - name: Packaging
      env:
        CONTRAST_API_KEY: ${{ secrets.CONTRAST_API_KEY }}
        CONTRAST_SERVICE_KEY: ${{ secrets.CONTRAST_SERVICE_KEY }}
        CONTRAST_USER_NAME: ${{ secrets.CONTRAST_USER_NAME }}
      run: ./package.sh

    - name: Package Analysis - White-box testing
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: ./packageAnalysis.sh

    - name: Publishing
      env:
        REPOSITORY_USER: ${{ secrets.REPOSITORY_USER }}
        REPOSITORY_PASSWORD: ${{ secrets.REPOSITORY_PASSWORD }}
      run: ./publish.sh

    - name: Deploy
      env:
        CLOUDFLARE_API_KEY: ${{ secrets.CLOUDFLARE_API_KEY }}
        CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }}
        CLOUDFLARE_ZONE_ID: ${{ secrets.CLOUDFLARE_ZONE_ID }}
        CLOUDFLARE_ZONE_NAME: ${{ secrets.CLOUDFLARE_ZONE_NAME }}
        LINODE_PRIVATE_KEY: ${{ secrets.LINODE_PRIVATE_KEY }}
        LINODE_PUBLIC_KEY: ${{ secrets.LINODE_PUBLIC_KEY }}
        LINODE_TOKEN: ${{ secrets.LINODE_TOKEN }}
      run: ./deploy.sh